PORT=4000
INFLUX_URL=https://6t19vetled-e43pqeqqidtg4r.timestream-influxdb.us-east-1.on.aws:8086
INFLUX_ORG=GFE-DB
INFLUX_TOKEN=9_Ler16ctdgBG_5x5vY2wtcg1vmeQSLb6Exw2WpB84kGNEweqV7d3ryk1-XgeoPpmv_1qxceZ3xW4Qm1TMv-Dw==
INFLUX_BUCKET=iot-bucket-gfe
